.image{
    display: flex;
    padding: 10px;  
}
.nav{
display: flex;
justify-content: space-between;
background-image: url(../images/image.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;    
height: 300px;
}
.del{
    padding-left: 10px;
    gap:  10px;
}
.price{
    color: crimson;
    padding-bottom: 20px;
}
.products{
    padding: 20px;
    display: flex;
    overflow: hidden;
}
.products img{
    cursor: pointer;
}
li a:hover{
    border: 2px solid black;
    height: 20px;
    transition: 0.05s ease;
    }
.item{
    background-color: white;
    width: 400px;
    margin: 10px;
}

.nav ul{
    list-style: none;
    display: flex;
}
.nav ul li a{
    text-decoration: none;
    padding: 10px;
    color: white;
}
.text{
    padding-top: 80px;
    font-family: "Lilita One", sans-serif;
    font-weight: 800;
    font-size: 30px;

}
body{
    padding: 0;
    margin: 0;
    background-color: wheat;
}
.im{
    margin: 5px;
    display: flex;
}
h2{
    text-align: center;
    font-size: 30px;
    margin: 10px;
}
.im img{
    margin: 10px;
}
.im2{
    margin: 10px;
    padding: 10px;
}
.im2 h2{
    text-align:  center;
}
.im2 img{
    margin: 10px;
}
.price{
    margin: 0;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    margin-left: 10px;
    gap: 265px;
}
.socks{
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    margin-left: 30px;
    gap: 285px;
}
.gloves{
    
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    margin-left: 30px;
    gap: 20px;   
}
.glovesp{
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    margin-left: 30px;
    gap: 295px;
}
.goals{
    
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    margin-left: 30px;
    gap: 20px;
}
.goalsP{
    
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    margin-left: 30px;
    gap: 230px;
}
.pics img{
    width: 350px;
}
.pics{
    margin: 20px;
    align-items: center;
}
.para{
    color: white;
    padding: 0 10px;
}
ul li a:hover{
    border: 2px solid black;    
}
.bt{
    margin-left: 300px;
    margin-bottom: 10px;
    border: 2px solid black;
    background-color: black;
    font-size: larger;
    cursor: pointer;
    color: white;
}